################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/README.md
/index.html
/Fake-Roguelike
/.gitattributes
